body {
    background-color: #36393f;
    color: white;
}
table{
    border: 1px solid black;
    background: green;
    align-items: center;
    text-align: center;
    margin: auto;
}
#exp{
    height: 500px;
    width: 500px;
}
td{
    height: 50px;
    width: 50px;
    border: 1px solid darkgreen;
    background: limegreen;
}
td.active{
    background: red !important;
}

img{
    height: 50px;
    width: 50px;
}
div{
    margin: 20px auto;
    max-width: 150px;
    }
h2{
    display: inline;
}

textarea{
    width: 300px;
    height: 100px;
    background-color: black;
    color: white;
}